
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1610116306796-6fea9f4fae38?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Ym9va3N8ZW58MHx8MHx8fDA%3D') no-repeat center center fixed;
    background-size: cover;

}

.navbar {
    background-color: white;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-left: 20px;
}

.logo a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}



.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-item {
    margin: 0 20px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-item a:hover {
    color: #28a745;
    transform: scale(1.1);
}

.nav-item a:focus {
    outline: none;
}

.nav-item a:active {
    color: #218838;
}


.logout-btn a {
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 20px;
    padding:8px 20px;
    border: 2px solid black;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    right: 20px;
    position: absolute;
    top: 17px;

}

.logout-btn a:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
}

.logout-btn a:active {
    background-color: black;
    transform: scale(1);
}
.main {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color:white;
    width: 800px;
    padding: 50px;


}
